<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work</title>
</head>
<h1>Bruno Pernadas Biography</h1>
<body>
<h4> Bruno Pernadas has released four records and a Movie Original Soundtrack so far on his own name:</h4> 
<p>- How can we be joyful in a world full of knowledge (2014)</p>
<p>- Those who throw objects at the crocodiles will be asked to retrieve them (2016)</p>
<p>- Worst Summer Ever , (2016) </p>
<p>- Patrick OST ,(2020) </p>
<p>- Private Reasons ,(2021)</p>
         
          <p> bringing together several music styles such as jazz, space age pop, folk, world music and electronic. The records were critically acclaimed, gaining massive positive reviews and were named Best Record of the Year in several music magazines and Portuguese and International music reviews. He has also recorded with several bands as a co-leader and as a sideman.</p>

       <p> As a freelance-musician, he works with different bands such as; Minta and The Brook Trout, Suzie's Velvet, The Sun Ra project (as leader and arranger) and Montanhas Azuis alongside with Norberto Lobo and Marco Franco. </p>
       
     <p>In 2018 he record the debut album "Ilha de Plástico" by Montanhas Azuis, he has also produced the fourth album for the Japanese Band Kikagaku Moyo named Massana Temples.
        
        In mid 2010’s, Bruno Pernadas branched out into Composition more seriously, creating innumerous original soundtracks for Film, Television, Performing Arts, Theatre and Contemporary Dance. Such works includes; Ferloscardo (Circus / Theatre Performance), Sometimes the lights go out (Theatre), Romeo and Juliet by the National Ballet of Portugal, On the Origin of Species (Theatre), based on Charles Darwin’s book by the same name, The wolf’s Lair (Film), Our favorite Sport (Theatre), Steamboat Bill Junior (Film) and The Hissing of Summer Lawns (Film), Patrick (film), Atlântico (Theatre) among others. 
        
        In 2020, he was invited to create and compose the Original Score for the first Portuguese Netflix Original Series "Gloria".</p>  
    

<img src="images/image1.jpg" alt="imagem1"  width="128px" height="128px">
<img src="images/image2.jpg" alt="imagem2" width="128px" height="128px">
<img src="images/image3.jpg" alt="imagem3" width="128px" height="128px">
       
</body>
<a href="gallery.html"></a>
</html>